# Ignore temporary matlab files
*.asv
*~

# Ignore Vim swap files.
.*.swp

# Ignore computer specific config files for monkeylogic 
*cfg.mat
*_runtime.m
runtime/lp_block_change.m

# Ignore .bhv files
*.bhv
